body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.tableContainer {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

table {
	text-align: center;
	width: 100%;
}


p {
	display: inline;
	padding: 15px;
}

button {
	margin: 10px;	
	padding: 5px;
	width: 200px;
}

table, th, td {
	border:1px solid black;
  }

td {
	text-align: center;
}
